.search_bar {
  margin: auto;
  display: flex;
  height: 2rem;
  flex-grow: 2;
}

.search_container {
  margin: auto;
  display: flex;
  position: relative;
  z-index: 91;
}

.search_box {
  background: rgb(18, 18, 18);
  width: 30rem;
  border: 1.5px solid rgba(128, 128, 128, 0.4);
  color: white;
  font-size: large;
  padding: 0.2rem;
  height: 2rem;
  padding-left: 2rem;
}

.search_box:focus {
  outline: none;
  border: 1.5px solid #007bff;
}

.search_icon {
  cursor: pointer;
  padding: 0.75rem;
  width: 2rem;
  border-radius: 0.1rem;
  background: rgb(43, 43, 43);
  color: aliceblue;
}

.search_icon:hover {
  background-color: black;
}

.mic_icon {
  border-radius: 100%;
  padding: 0.5rem;
  background-color: rgb(51, 51, 51);
}

.vid_icon,
.mic_icon {
  color: whitesmoke;
  margin: auto 0.7rem;
}
